* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    margin: 44px 0 144px 76px;
}

.link-nav {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #98909C;
    cursor: pointer;
    margin-right: 23px;
    text-decoration: none;
}

.button-header {
    background: #5c51da;
    border-radius: 20.5px;
    cursor: pointer;
    width: 130px;
    height: 41px;
    border: 2px solid;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.button-header:active{
   background: #2b228d; 
   color: #7f77d3;
}

.container-left {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

.container-right {
    display: inline-block;
    margin-left: 86px;
}


h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin: 32px 35px 20px 0;
}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.button-main:active{
   background:#86c009; 
   color:#ffffff;
}