* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header ul li {
    display: inline-block;
    flex-direction: space-between;
    margin: 6px 8px;
    padding: 6px;
    color: #989D9C;
    cursor: pointer;
    font-size: 20px;

}

header ul li:hover {
    color: #5b6464;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    transform: rotateY(-20deg);
     
}


button {
    margin: 30px 26px;
    background-color: rgb(11, 11, 168);
    color: #ffffff;
    border: none;
    border-radius: 40px;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button:hover {
    background-color: #00008B;
    transition: 0.5s ease-in-out;
    color: azure;
}

.container-left {
    display: inline-block;
    
}



.container-right {
    display: inline-block;
}

h1{
    color: #515151;
    font-size: 50px;
}

P{
    color: #848484;
    font-size: 18px;
    margin: 6px 6px;
}

h2{
    color: #515151;
    font-size: 30px;
}

.link {
    background-color: #ADFF00;
    color: #000000;
    padding: 6px 12px;
    margin: 20px 26px;
}

.link:hover {
    background-color: #ADFF00;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

@media screen and (max-width: 900px) {
    .container-left, .container-right {
        display: block;
        width: 100%;
    }
    
}