* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #17233D;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 0 40px;
    margin-top: 60px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #3f5585;
    transition: 0.5s;
}


button {
    margin: 5px 0 0 8px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background: #4CB538;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    margin: 30px;
}

.container-left {
    display: inline-block;
     margin-right: 6px;
    width: 40%;
    margin-top: 13%;
    margin-left: 135px;
    padding: 35px;


}

.container-right {
    display: inline-block;
    height: 100vh;
     width: 40vw;
     position: relative;
     margin-right: 6px;
     margin-top: 6px;
}

h1 {
    color: #161A49;
    font-weight: bold;
    font-size: 50px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;

}

a.link {
    margin-bottom: 60px;
    color: #6FBF44;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .container-right {
        display: block;
        text-align: center;
        margin: 0;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }



    .container-left {
        display: block;
        text-align: center;
        margin: auto;
    }

    img {
        width: 80%;
        height: auto;
        margin: auto;
    }


}